
.loading{
  color:white;
}


body {
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw; 
}

.homepage-body {
  display: flex;
  flex-direction: column; 
  align-items: stretch;
  background-color: black;
  position: relative;
  width: 100%; 
}

.border {
  border: 2px solid black;
}


.flexbox {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%; 
}

.flex-item{
  text-align:center;
  font-size:0.9rem;
  padding: 1rem;
  margin: 0 0.5rem;
}

.search-container{
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25%{
    background-position: 100% 50%;
  }

  50% {
    background-position: 150% 100%;
  }
  75%{
    background-position: 200% 150%;
  }
  100% {
    background-position: 250% 200%;
  }
}

.header {
  font-size: 2.5rem;
  
  background: linear-gradient(to right, rgba(252, 252, 252, 0.904), rgba(0, 0, 0, 0.842), rgba(252, 252, 252, 0.842));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 500% 500%; 
  transition-duration: 0.5s;
}

.header:hover {
  transition-duration: 0.5s;
  font-size: 3.5rem;
  animation: gradient 10s linear infinite;
}

.header-div{
  position: relative;
  width: 100%;
}


.ai-chatbox{
  position: absolute;
  display: flex;
  background-color: rgb(44, 43, 43);
  color: rgba(177, 177, 177, 0.877);
  z-index: 1000;
  top:125%;
  left: 25%;
  min-width: 50vw;
  max-width: 50vw;

  max-height: 25rem;
  word-wrap: break-word; 
  overflow: auto;
  padding: 1.5rem;
  box-shadow: 3px 0px 8px 3px rgba(128, 128, 128, 0.274);
  border-radius: 15px;
}

.newChatText{
  list-style:none;
  display:inline-block;
  color: rgba(255, 255, 255, 0.808);
  margin-bottom: 1rem;
  
}
.newChatTitle{
  font-weight:bold;
  font-style:italic;
  font-size: 1.1rem;
}







.ai-chatbox::-webkit-scrollbar {
  background-color: transparent;
}

.ai-chatbox::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: 3px 0px 12px 4px rgba(128, 128, 128, 0.274);
  background-color: rgba(0, 0, 0, 0.81);
}

.headerTitle{
  display: flex;
  align-items:center;
  justify-content: center;
}





.text{
  font-size: 1.2rem;
  color:dimgray;
}

.content-container{
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.chatarea{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(59, 59, 59));
  box-shadow: 3px -2px 12px 0px rgba(0, 0, 0, 0.651);

}



.outputbox{
  position:relative;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:rgba(46, 46, 46, 0.637);
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-bottom: none;
}

.outputbox::-webkit-scrollbar{
  background-color:transparent;
}
.outputbox::-webkit-scrollbar-thumb{
  border-radius: 100px;
	box-shadow: 3px 0px 12px 4px rgba(128, 128, 128, 0.274);
	background-color: rgba(0, 0, 0, 0.81);
}

.input{
  display:flex;
  justify-content:center;
}
.inputbox{
  max-height: 8rem;
  height: 8rem;
  display:flex;
  position:relative;
  width:100%;
  background-color:rgba(46, 46, 46, 0.637);
  border: 1px solid rgba(0, 0, 0, 0.329);
  
}

.inputbox-text{
  flex: 1;
  width: calc(100% - 2rem);
  height: auto;
  font-size:0.9rem;
  color:white;
  background-color:transparent;
  border-radius:0.3rem;
  border:none;
  resize:none;
  padding: 0.5rem;
  padding-right: 0.2rem;
  line-height: 1.8rem;
  box-sizing: border-box;
}

.inputbox-text::placeholder{
  color:rgba(255, 255, 255, 0.349);
}

textarea{
  max-height: 8rem;
  max-width: 90%;
  overflow: auto;
}

textarea::-webkit-scrollbar{
  background-color:transparent;
}
textarea::-webkit-scrollbar-thumb{
  border-radius: 100px;
	box-shadow: 3px 0px 12px 4px rgba(128, 128, 128, 0.274);
	background-color: rgba(0, 0, 0, 0.81);
}

.inputbox-text:focus{
  outline:none;
}

.listDiv{
  margin-left: -1.5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction:column;
  margin-top: 2rem;
}


.enterbutton{
  position:absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 0;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.enterbutton img{
  display:block;
  width: 1.5rem;
  height: auto;
  padding: 0 0.5rem;
  z-index:10;
}

.enterbutton:hover{
  
}
.enterbutton:focus{
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  border-radius: 1rem;
  display: block;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  width: 7rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 150;
  margin-top: 0.3rem;
  background-color:rgba(247, 247, 247, 1);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
  font-size: 0.9rem;
  
}
.dropdown-content.open {
  opacity: 1;
  
  pointer-events: auto; 
}


.dropdown-content a {
  color: black;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  text-decoration: none;
  display: block;
  transition-duration: 0.3s;
}
.dropdown-content a:hover {
  transition-duration: 0.3s;
  color: gray;
  font-weight:bold;
  font-size: 0.92rem;
}





.dropbutton{
  color:black;

  padding: 1rem;
  min-width: 7rem;
  min-height: 4rem;
  max-width: 7rem;
  max-height: 4rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 1rem;
  
  border:none;
  background-color: transparent;

  transition-duration: 0.5s;
}
.dropbutton:hover{
  cursor: pointer;

  transition-duration: 0.5s;
  background-color:rgba(247, 247, 247, 0.11);
}
.dropbutton:active{
  transition-duration: 0.1s;
  background-color:rgba(54, 54, 54, 0.514);
}

.dropdown-icon{
  width: 40%;
}

.listElement{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word; 
  max-width: 100%; 
  padding-right: 1.5rem;
  color: white;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.listElementName{
  color:rgba(206, 201, 201, 0.877);
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
}

.login-flexbody{
  display: flex;
  flex-direction:column;
  background-color:black;
  height: 25rem;
  justify-content:center;
  align-items:center;
  border-radius: 10%;
  width: 25rem;
  max-width: 25rem;
  margin: 0;
  
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  box-shadow: 0px -4px 8px 1px rgba(0, 0, 0, 0.123), 
              0px 4px 8px 1px rgba(0, 0, 0, 0.089);   
}

.login-box{
  display: flex;
  align-items:center;
  justify-content: center;
  background-color:rgba(255, 255, 255, 0.651);
  width: 99%;
  height: 99%;
  border-radius: 10%;
  position:relative;
}
.login-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300px;
  
}
.login-field{
  display: flex;
  flex-direction: column;
  font-style: italic;
}

.text-for-form{
  border: none;
  border-bottom: 1px solid black;
  background-color:transparent;
  display: block;
  padding: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.submit-button{
  border: none;
  padding: 0.5rem;
  border-radius: 8%;
  box-shadow:  3px 2px 5px rgba(0, 0, 0, 0.26);
  margin-right: 3px;
  transition-duration: 0.5s;
  background-color: transparent;
  font-size: 1rem;
}

.submit-button:hover{
  transition-duration: 0.5s;
  cursor: pointer;
  background-color:rgb(211, 209, 209);
}
.submit-button:active{
  cursor: pointer;
  background-color:rgb(134, 133, 133);
}

.submit-button-div{
  display:flex;
  flex-direction:column;
  align-items: center;
  
}


a{
  text-decoration:none;
  color:black;
}



.search-bar{
  border-radius: 10px;
  border: none;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.527);
  min-width: 9rem;
  width: 65%;
  padding: 0.5rem 1rem;
  color:rgba(255, 255, 255, 0.596);
  font-size: 0.95rem;
}

input:focus{
  outline: none;
}




footer, header, .login-container, .email-form-container, .aboutme-container{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.918), rgba(128, 128, 128, 0.733))
}





.footer-item{
  color:white;
  box-sizing: border-box;
}

.footer-item a{
  color: white;
}
.footer-item a:hover{
  color:black;
}

.error-text{
  color:red;
  display:none;
  position:absolute;
  bottom: 0;
}

.success-text{
  color:rgb(9, 255, 0);
  display:none;
  position:absolute;
  bottom: 0;
}



.crypto-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: rgba(46, 46, 46, 0.637); 
  border: 1px solid rgba(0, 0, 0, 0.329); 
  max-height: 100vh;
  box-shadow: 3px 0px 12px 4px rgba(0, 0, 0, 0.651);
  color: white;
  max-width: 100vw;
}

.crypto-list-container::-webkit-scrollbar {
  background-color: transparent;
}

.crypto-list-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: 3px 0px 12px 4px rgba(128, 128, 128, 0.274);
  background-color: rgba(0, 0, 0, 0.81);
}


.crypto-list-container::-webkit-scrollbar-corner {
  background-color: rgba(46, 46, 46, 0.637); 
  opacity: 1%;
  
}

.crypto-list-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.cryptoListElement{
  display: flex;
  background-color: transparent;
  height: 4rem;
  margin-bottom: 10px;
  align-items: center;
  width: 100%; 
  justify-content: space-between;
  
}

.cryptoTitle{
  list-style-type:none;
  margin-top: 0;
}

.cryptoLabel {
  display: flex;
  position: sticky;
  top: 0;
  height: 2rem;
  background-color: rgba(46, 46, 46, 0.938); 
  color: rgb(196, 196, 196);
  z-index: 10;
  box-shadow: 3px 0px 12px 4px rgba(0, 0, 0, 0.651);
  align-items:center;
  margin: 0;
  
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  min-width: 500px; 
}

.homepage-body, .chatarea, .crypto-list-container, .aboutme-container {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
   
}




.cryptoLabelRank{
  position: absolute;
  margin-left: 0.8rem;
}
.cryptoLabelName{
  position: absolute;
  margin-left: 6.5rem;
}
.cryptoLabelPrice{
  position: absolute;
  margin-left: 16.5rem;
}
.cryptoLabelChange{
  position: absolute;
  margin-left: 24.5rem;
}



.cryptoIcon{
  height: 2rem;
  width: 2rem;
  position: absolute;
  margin-left: 3rem;
  margin-top: 1rem;
}



.cryptoRank{
  margin-left: 10px;
  position: absolute;
  margin-top: 1rem;
  color: rgb(150, 149, 149);
}

.nameSpan{
  position: absolute;
  margin-left: 6.5rem;
}

.nameSpan:hover{
  transition-duration: 0.3s;
  transform: translate(2px, 2px);
}

.priceSpan{
  position: absolute;
  margin-left: 16.5rem;
}
.changeSpan{
  position: absolute;
  margin-left: 24.5rem;
}

.cryptoURL{
  color: white;
  font-weight:bold;
}

.cryptoURL:hover{
  text-decoration: underline;
  cursor: pointer;
  color:rgb(130, 130, 221);
}

.cryptoURL:active{
  color: white;
}

.green{
  color:green;
}
.red{
  color: red;
}


ul{
  list-style-type: none;
}


.chatarea, .crypto-list-container {
  width: 100vw; 
  max-width: 100%; 
  margin-left: 0; 
  
}

.footer-div{
  display: flex;
  justify-content: center;
  height: 100%;
}






.homepage-body,
.chatarea,
.crypto-list-container,
.content-container,
.aboutme-container {
  width: 100%;
  max-width: 100vw;
}

.aboutme-container {
  display: flex;
  width: 100vw;
  min-height: 80vh; 
  justify-content: center;
  align-items: center; 
  margin: 0;
  box-shadow: 0px -4px 8px 1px rgba(0, 0, 0, 0.123), 
  0px 4px 8px 1px rgba(0, 0, 0, 0.089); 
}

.aboutme-text-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 50rem; 
  color: #c0c0c0;
}

.aboutme-title{
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
}
.aboutme-text {
  line-height: 1.5rem;
  font-size: 1.2rem;
  word-wrap: break-word;
}


.blur{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px) saturate(70%);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  
}
.blurtext{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  background-color:transparent;
  border:none;
  transition-duration: 0.5s;
  border-radius: 5px;
  max-width: 50%;
  padding: 1rem;

  
}
.blurtext:hover{
  transition-duration: 0.5s;
  background-color: rgba(185, 185, 185, 0.3);
  cursor: pointer;
}


.blursignin:hover {
  transition-duration: 0.5s;
  animation: gradient 10s linear infinite;
}

.blursignin{
  background: linear-gradient(to left, rgb(202, 201, 201), rgba(0, 0, 0, 0.842), rgb(202, 201, 201));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 500% 500%; 
  transition-duration: 0.5s;
}

.email-form-container{
  width: 100%;
  height: 59vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 8px 1px rgba(0, 0, 0, 0.123), 
              0px 4px 8px 1px rgba(0, 0, 0, 0.089); 
  
  
}
.email-form-body{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  border-radius: 10px;
  margin: auto;
  
}

.email-box{
  display: flex;
  align-items:center;
  height: 100%;
  width: 50%;
  
}

.email-form{
  display: flex;
  flex-direction: column;
  font-style: italic;
  color: rgba(255, 255, 255, 0.74);
}

.text-for-email-form{
  color: rgba(255, 255, 255, 0.74);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.74);
  background-color:transparent;
  display: block;
  padding: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.message-for-form{
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.74);
  color: rgba(255, 255, 255, 0.74);
  background-color:transparent;
  display: block;
  padding: 0.4rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  resize:none;
  max-width: 100%;
  height: 6rem;
}

.message-for-form:focus{
  outline: none;
}

.email-button{
  margin-top: 0.5rem;
  border-radius: 100px;
  border: none;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.164);
  transition: background-color 0.5s ease, transform 30ms ease;
}

.email-button:hover{
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: rgba(255, 255, 255, 0.384);
}

.email-button:active{
  transform: translate(3px, 3px);
  transition: transform 30ms;
}


.logo-image{
  margin: 0;
}

.contact-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.74);
}
.center-text{
  text-align:center;
}
.contact-header{
  font-style: italic;
  font-weight: normal;
  margin: 0;
}
.center-wrap{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:column;
}
.icon{
  width: 2rem;
  height: 2rem;
  margin: auto;
}
.link{
  margin: auto;
}


@media (max-width: 719px) {
  
  .email-box{
    justify-content: center;
  }

  .email-form-body{
    flex-direction: column;
    padding: 1rem 0;
  }
  .ai-chatbox{
    left: 20%;
  }

  .homepage-body {
    flex-direction: column;
  }

  .chatarea, .crypto-list-container, .aboutme-container{
    width: 100vw;
    max-width: 100%;
    margin-left: 0;
    height: 50%;
  }

  .cryptoLabel {
    left: 0;
    width: 100%;
  }

  .flexbox {
    flex-direction: column;
  }

  .inputbox{
    max-height: 5rem;
  }
  .inputbox-text{
    margin-bottom: 1rem;
  }

  .search-container{
    width: 100%;
    padding: 0;

  }
  .search-bar{
    width: 80%;
  }
}

@media (min-width: 720px){


  .email-form-body{
    max-width: 50rem;
  }
  .email-form-body{
    flex-direction: row;
    
  }
  .homepage-body{
    flex-direction: row;
  }
  .content-container{
    flex-direction: row;
  }
  .flexbox{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    font-size: 3rem; 
    transition-duration: 0.3s;
    
  }

  .header:hover {
    font-size: 3.4rem;
  }
  .search-bar{
    font-size: 1.1rem;
  }

  .inputbox {
    max-height: 6rem;
  }
  .content-container, .login-container, .aboutme-container, .email-form-container{
    height: 80vh;
  }


  .aboutme-text-container{
    max-width: 35rem;
    max-height: 35rem;
  }
  
  .aboutme-title{
    font-size: 2.2rem;
  }
  .aboutme-text{
    line-height: 1.2rem;
  }
}

@media (min-width: 1200px) {



  .flexbox {
    justify-content: space-around;
  }
}





