



body{
  overflow-x: hidden;
  background-color:#0000001c
  
}

.homepage-body{
  display: flex;
  flex: 10;
  align-items: stretch;
  background-color:black;
  position: relative;
  
}

.border {
  border: 2px solid black;
}


.flexbox{
  display:flex;
  height:6rem;
  justify-content:space-between;
  align-items:center;
  flex-wrap:nowrap;
  
}

.flex-item{
  text-align:center;
  font-size:0.9rem;
  padding: 1rem;
  margin: 0 0.5rem;
}

.search-container{
  flex-grow: 1;
  text-align: center;
}

.header{
  font-size:2.5rem;
  color:dimgray;
  
}


.headerTitle{
  transition-duration: 2.5s;
  transform: rotate(0deg);
}
.headerTitle:hover{
  transition-duration: 2s;
  transform: rotate(-360deg);
}






.text{
  font-size: 1.2rem;
  color:dimgray;
}


.chatarea{
  display:flex;
  flex-direction:column;
  width: 50vw;
  height: 100%;
  overflow:hidden;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(59, 59, 59))
  
}
.outputbox{
  height: 100%;
  max-height: 42rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:rgba(46, 46, 46, 0.637);
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-bottom: none;
}

.outputbox::-webkit-scrollbar{
  background-color:transparent;
}
.outputbox::-webkit-scrollbar-thumb{
  border-radius: 100px;
	box-shadow: 3px 0px 12px 4px rgba(128, 128, 128, 0.274);
	background-color: rgba(0, 0, 0, 0.81);
}

.input{
  display:flex;
  justify-content:center;
}
.inputbox{
  max-height: 8rem;
  height: 8rem;
  display:flex;
  position:relative;
  width:100%;
  background-color:rgba(46, 46, 46, 0.637);
  border: 1px solid rgba(0, 0, 0, 0.329);
  
}

.inputbox-text{
  flex: 1;
  width: calc(100% - 2rem);
  height: auto;
  font-size:0.9rem;
  color:white;
  background-color:transparent;
  border-radius:0.3rem;
  border:none;
  resize:none;
  padding: 0.5rem;
  padding-right: 0.2rem;
  line-height: 1.8rem;
  box-sizing: border-box;
}

.inputbox-text::placeholder{
  color:rgba(255, 255, 255, 0.349);
}

textarea{
  max-height: 8rem;
  max-width: 90%;
  overflow: auto;
}

textarea::-webkit-scrollbar{
  background-color:transparent;
}
textarea::-webkit-scrollbar-thumb{
  border-radius: 100px;
	box-shadow: 3px 0px 12px 4px rgba(128, 128, 128, 0.274);
	background-color: rgba(0, 0, 0, 0.81);
}

.inputbox-text:focus{
  outline:none;
}

.listDiv{
  margin-left: -1.5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction:column;
  margin-top: 2rem;
}


.enterbutton{
  position:absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 0;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.enterbutton img{
  display:block;
  width: 1.5rem;
  height: auto;
  padding: 0 0.5rem;
  z-index:10;
}

.enterbutton:hover{
  
}
.enterbutton:focus{
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  border-radius: 1rem;
  display: block;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  width: 7rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 150;
  margin-top: 0.3rem;
  background-color:rgba(247, 247, 247, 1);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
  
}
.dropdown-content.open {
  opacity: 1;
  
  pointer-events: auto; 
}


.dropdown-content a {
  color: black;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  text-decoration: none;
  display: block;
  transition-duration: 0.3s;
}
.dropdown-content a:hover {
  transition-duration: 0.3s;
  color: gray;
  font-weight:bold;
  font-size: 1rem;
}





.dropbutton{
  color:black;

  padding: 1rem;
  min-width: 7rem;
  min-height: 4rem;
  max-width: 7rem;
  max-height: 4rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 1rem;
  
  border:none;
  background-color: transparent;

  transition-duration: 0.5s;
}
.dropbutton:hover{
  cursor: pointer;

  transition-duration: 0.5s;
  background-color:rgba(247, 247, 247, 0.11);
}
.dropbutton:active{
  transition-duration: 0.1s;
  background-color:rgba(54, 54, 54, 0.514);
}

.dropdown-icon{
  width: 40%;
}

.listElement{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word; 
  max-width: 100%; 
  padding-right: 1.5rem;
  color: white;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.listElementName{
  color:rgba(206, 201, 201, 0.877);
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
}

.login-flexbody{
  display: flex;
  flex-direction:column;
  background-color:black;
  height: 25rem;
  justify-content:center;
  align-items:center;
  border-radius: 10%;
  margin: auto;
  width: 25rem;
}

.login-box{
  display: flex;
  align-items:center;
  justify-content: center;
  background-color:rgba(255, 255, 255, 0.651);
  width: 75%;
  height: 75%;
  border-radius: 10%;
  max-width: 25rem;
  position:relative;
}
.login-form{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300px;
  
}
.login-field{
  display: flex;
  flex-direction: column;
  font-style: italic;
}

.login-username{
  border: 1px solid black;
  background-color:gray;
  display: block;
  margin-bottom: 1rem;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.26);
}

.submit-button{
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 15%;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.26);
  margin-right: 3px;
}

.submit-button:hover{
  cursor: pointer;
  background-color:rgb(182, 182, 182);
}
.submit-button:active{
  cursor: pointer;
  background-color:rgb(134, 133, 133);
}

.submit-button-div{
  display:flex;
  flex-direction:column;
  align-items: center;
  
}


a{
  text-decoration:none;
  color:black;
}



#dropdown-search{
  display:none;
  color:rgba(0, 0, 0, 0.753);
  border:none;
  padding: 0.5rem;
  max-width: 6rem;
  
}

.search-bar{
  border-radius: 10px;
  border: none;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.527);
  min-width: 9rem;
  width: 65%;
  padding: 0.5rem 1rem;
  color:white;
  font-size: 1.1rem;
}

input:focus{
  outline: none;
}


@media (max-width: 650px){
  #dropdown-search{
    display: block;
  }
  .search-bar{
    display:none;
  }
}


footer, header{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.897), gray)
}




.footer-item{
  color:white;
  box-sizing: border-box;
}

.footer-item a{
  color: white;
}
.footer-item a:hover{
  color:black;
}

.error-text{
  color:red;
  display:none;
  position:absolute;
  bottom: 0;
}

.success-text{
  color:rgb(9, 255, 0);
  display:none;
  position:absolute;
  bottom: 0;
}

.crypto-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  width: 50vw;
  overflow: auto;
  background-color: rgba(46, 46, 46, 0.637); 
  border: 1px solid rgba(0, 0, 0, 0.329); 
  max-height: 48rem;
  margin-top: 2rem;
  box-shadow: 3px 0px 12px 4px rgba(0, 0, 0, 0.651);
  color: white;
}

.crypto-list-container::-webkit-scrollbar {
  background-color: transparent;
}

.crypto-list-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: 3px 0px 12px 4px rgba(128, 128, 128, 0.274);
  background-color: rgba(0, 0, 0, 0.81);
}
.cryptoListElement{
  display: flex;
  background-color: transparent;
  height: 4rem;
  margin-bottom: 10px;
  align-items: center;
  
}

.cryptoTitle{
  list-style-type:none;
  margin-top: 0;
}

.cryptoLabel {
  display: flex;
  position: absolute;
  top: 0;
  left: 49.999%;
  height: 2rem;
  width: 50vw;
  background-color: rgba(46, 46, 46, 0.637); 
  color: rgb(196, 196, 196);
  z-index: 10;
  box-shadow: 3px 0px 12px 4px rgba(0, 0, 0, 0.651);
  align-items:center;
  
}

.cryptoLabelRank{
  position: absolute;
  margin-left: 0.8rem;
}
.cryptoLabelName{
  position: absolute;
  margin-left: 6.5rem;
}
.cryptoLabelPrice{
  position: absolute;
  margin-left: 16.5rem;
}
.cryptoLabelChange{
  position: absolute;
  margin-left: 24.5rem;
}



.cryptoIcon{
  height: 2rem;
  position: absolute;
  margin-left: 3rem;
  margin-top: 1rem;
}



.cryptoRank{
  margin-left: 10px;
  position: absolute;
  margin-top: 1rem;
  color: rgb(150, 149, 149);
}

.nameSpan{
  position: absolute;
  margin-left: 6.5rem;
}

.nameSpan:hover{
  transition-duration: 0.3s;
  transform: translate(2px, 2px);
}

.priceSpan{
  position: absolute;
  margin-left: 16.5rem;
}
.changeSpan{
  position: absolute;
  margin-left: 24.5rem;
}

.cryptoURL{
  color: white;
  font-weight:bold;
}

.cryptoURL:hover{
  text-decoration: underline;
  cursor: pointer;
  color:rgb(130, 130, 221);
}

.cryptoURL:active{
  color: white;
}

ul{
  list-style-type: none;
}